<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sqvat.squat" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:debuggable="true"
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="squat.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseExerciseActivity"
            android:label="@string/title_activity_add_session" >
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:parentActivityName=".ChooseExerciseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sqvat.squat.ChooseExerciseActivity" />
        </activity>
        <activity
            android:name=".ConfigSessionActivity"
            android:label="@string/title_activity_config_session" >
        </activity>
        <activity
            android:name=".TrackWorkoutAct"
            android:label="@string/title_activity_track_workut" >
        </activity>
    </application>

</manifest>
