<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sqvat.fit"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="squat.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.sqvat.fit.activities.BaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sqvat.fit.activities.ChooseExerciseActivity"
            android:label="@string/title_activity_add_session"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sqvat.fit.activities.ExerciseActivity"
            android:label=""
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sqvat.fit.activities.ChooseExerciseActivity" />
        </activity>
        <activity
            android:name="com.sqvat.fit.activities.ConfigSessionActivity"
            android:label="@string/title_activity_config_session"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.sqvat.fit.activities.TrackWorkoutAct"
            android:label="@string/title_activity_track_workut"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sqvat.fit.activities.DetailedHistoryAct"
            android:label="@string/title_activity_detailed_history"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sqvat.fit.activities.EditRoutineAct"
            android:label="@string/title_activity_edit_routine"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sqvat.fit.activities.AddCustomExerciseActivity"
            android:label="Add custom exercise"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sqvat.fit.activities.ChooseExerciseActivity" />
        </activity>
        <activity
            android:name="com.sqvat.fit.activities.UpdateSessionActivity"
            android:label="@string/title_activity_update_session">
        </activity>

    </application>

</manifest>
